<div class="columns">
	<div class="column" style="width: 49.0%; margin-right: 2%;">
		<%= form_for "mautic_api", url: public_send("#{ActiveAdmin.application.default_namespace}_mautic_api_config_auth_path") do |f| %>
		<fieldset class="inputs">
			<ol>   
				<li class="string input optional stringish" id="mautic_api_url">
					<label class="label" for="mautic_api_url">URL:</label>
					<%= f.text_field :url, value: @config[:url] %>
				</li>
		
				<li class="string input optional stringish" id="mautic_api_key">
					<label class="label" for="mautic_api_key">key:</label>
					<%= f.text_field :key, value: @config[:key] %>
				</li>
		
				<li class="string input optional stringish" id="mautic_api_secret">
					<label class="label" for="mautic_api_secret">secret:</label>
					<%= f.text_field :secret, value: @config[:secret] %>
				</li>
				<li><%= f.submit %></li>
			</ol>
		</fieldset>
		<% end %>
	</div>
	<div class="column" style="width: 49.0%;">
		<% if @config[:key].present? && @config[:secret].present? %>
			<% if @config[:token].present? %>
				Token set
			<% else %>
				<%= link_to "Set token", public_send("#{ActiveAdmin.application.default_namespace}_mautic_api_config_oauth_path"), method: :post %>
			<% end %>
		<% end %>
	</div>
</div>